/* Initial Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Color Palette */
:root {
  --grey-1: #b0c7d8;
  --grey-2: #636363;
  --grey-3: #a9a9a9;
  --blue: #5ac6fb;
}

/* Main Section */
.main-part {
  height: 537px;
  width: 100%;
  background-color: greenyellow;
  background-image: url('images/main-pic.jpg');
  color: white;
  display: grid;
  place-items: center;
}

nav > ul {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 80vw;
  height: 35px;
  place-items: center;
  border: 1px solid 1px;
  background-image: linear-gradient(var(--grey-1) 50%, var(--grey-2) 50%);
}

nav > ul > li {
  list-style: none;
  font-size: 2rem;
  transition: 0.5s;
}

nav > ul > li:hover {
  font-size: 2.5rem;
  cursor: pointer;
}

nav > ul > li > input {
  height: 20px;
  width: 80px;
}

.icon-bar {
  display: flex;
}

h1 {
  font-size: 10rem;
  font-weight: lighter;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin: 0 10%;
  font-weight: 400;
}

.watch {
  display: grid;
  grid-auto-flow: column;
  font-size: 3rem;
  column-gap: 10px;
  align-items: center;
}

.watch > i {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1.5px;
  grid-gap: 1.5px;
}

.container > img {
  cursor: pointer;
}

/* Footer Section */
footer {
  display: grid;
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  padding: 10px 30px;
  font-size: 1.2rem;
  color: var(--grey-3);
  column-gap: 10px;
  grid-auto-flow: column;
}

.blue {
  color: var(--blue);
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.foot2 > ul {
  display: grid;
  grid-template-columns: repeat(7, max-content) 25px;
  align-items: center;
  list-style: none;
  column-gap: 10px;
  text-align: center;
}

.foot2 > ul > li > img {
  width: 100%;
  height: 100%;
}

